@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  user-select: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #17171e;
}
::-webkit-scrollbar {

  width: 8px;

  height: 10px;

  background-color: #f5f5f500;

}




::-webkit-scrollbar-thumb {

  background-color: #665dc3;

  border-radius: 8px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
